.gridContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}

.gridComponent{
  border: 1px solid black;
  width: 70px;
  height: 70px;
  flex-basis: 30%;
  position: relative;
}

.selectedGrid{
  top: 0;
  bottom: 0;
  position: absolute;
  width: 40px;
  height: 30px;
  border-radius: 10%;
  border: 0.5px dotted green;
  background-color: darkmagenta;
  text-align: center;
}